.close-inv-btn:hover {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  transform: scale(1.08);
}

.close-inv-btn:active {
  transition: 0.2s ease-in-out;
  transform: scale(0.98);
}


.backpack {
  overflow-x: hidden;
}

.item-common {
  background-color: #02b90280;
  cursor: pointer;
}

.item-rare {
  background-color: #0000ff8c;
  cursor: pointer;
}

.item-epic {
  background-color: #b304b380;
  cursor: pointer;
}

.item {
  background-color: #99999980;
  cursor: pointer;
}