.clickable-object {
  cursor: pointer;
  background-color: transparent;
  max-width: 75%;

}

.d-hidden {
  display: none;
}

.clickable-object:hover {
  transition: 0.05s;
  transform: scale(1.005);
}

.clickable-object:active {
  transition: 0.02s;
  transform: scale(0.99995);
}

.shake-right {
  animation: shake-right 0.1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes shake-right {

  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 100% 50%;
  }

  20% {
    transform: rotate(6px);
  }

  40% {
    transform: rotate(-6px);
  }

  60% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(6px);
  }
}

.shake-left {
  animation: shake-left 0.1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes shake-left {

  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 0 50%;
  }

  20% {
    transform: rotate(6px);
  }

  40% {
    transform: rotate(-6px);
  }

  60% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(6px);
  }
}