.clickable-object {
  cursor: pointer;
  background-color: transparent;
  max-width: 75%;

}

.d-hidden {
  display: none;
}

.clickable-object:hover {
  transition: 0.05s;
  transform: scale(1.005);
}

.clickable-object:active {
  transition: 0.02s;
  transform: scale(0.99995);
}

.text-blur-scale {
  animation: text-blur-scale 200ms cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes text-blur-scale {
  0% {
    filter: blur(0.01);
    transform: scale(1);
  }

  100% {
    filter: blur(12px) opacity(0%);
    transform: scale(0);
  }
}

.text-blur {
  animation: text-blur 200ms cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes text-blur {
  0% {
    filter: blur(0.01);
    transform: scale(1);
  }

  100% {
    filter: blur(12px) opacity(0%);
    transform: scale(0);
  }
}